@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* ######    EN-TETE ET PIED DE PAGE */
/*FLEXBOX */
.container{
    max-width: 800px;
    margin:auto;
}
img {
    width : 150px;
    height : 150px;
}
header{
    background-color: #219F94;
}
a{
    color:black;
}
ul{
    font-size :20px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Poppins', sans-serif;
}
footer{
    padding: 2rem 0;    /* Permet de définir une largeur fixe */
    align-items: center;
    background-color: #219F94;
}
footer p{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}